---
import BlogCard from "./BlogCard.astro";
const blogPosts = [
  {
    title: "Introducing Rock - The New React Native Framework",
    description: "Discover Rock, a new React Native framework designed to streamline development and improve performance",
    link: "https://medium.com/@sg43245/introducing-rock-the-new-react-native-framework-ae8e05cad2df"
  },
  {
    title: "Understanding Baseline Profile",
    description: "Improve Android App Startup Time using Baseline Profile",
    link: "https://medium.com/@sg43245/reducing-android-app-start-time-baseline-profile-1a1e73db47e9"
  },
];
---
<section id="blogs" class="mb-16 scroll-fade-in">
    <h2 class="text-3xl font-bold tracking-tighter sm:text-4xl md:text-5xl mb-8 text-center">My Blogs</h2>
    <div class="grid gap-6 md:grid-cols-2 lg:grid-cols-3">
      {blogPosts.map((post) => (
        <BlogCard {...post} />
      ))}
    </div>
  </section>