---
---

<footer class="border-t-2 border-primary mt-12">
    <div class="container flex justify-center py-6 text-center">
      <p class="text-sm text-muted-foreground">© 2025 Shubham Gupta. All rights reserved.</p>
    </div>
  </footer>