---
---

<a href="/" class="flex items-center gap-2 group">
  <span class="text-2xl font-mono font-bold text-primary group-hover:text-primary/80 transition-colors">
    &lt;SG&nbsp;/&gt;
  </span>
</a>

