---
---

<div class="section-divider my-12 flex items-center justify-center">
  <div class="h-px w-24 bg-border"></div>
  <div class="mx-4 h-2 w-2 rounded-full bg-primary/30"></div>
  <div class="h-px flex-1 max-w-xs bg-border"></div>
</div>

